<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Planner Aqilah</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="container">
    <div class="header">
      <h1 class="judul">PLANNER🪶📜🌕ִֶָ☾♡</h1>
    </div>

    <div class="menu">
      <a href="/pomodoro" class="menu-btn">Pomodoro Timer</a>
      <a href="/todo" class="menu-btn">Checklist Todo Harian</a>
      <a href="/progress" class="menu-btn">Kalender Deadline</a>
    </div>
  </div>
</body>
</html>
